.btn-block{
    margin-top: 20px;
    margin-left: 10px;
    width: 20%;
}

#id_form-0-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-1-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-2-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-3-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-4-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-5-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-6-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-7-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-8-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-9-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-10-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-11-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-12-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-13-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-14-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-15-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-16-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-17-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-18-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-19-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-20-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-21-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-22-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-23-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-24-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-25-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-26-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-27-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-28-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-29-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-30-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-31-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-32-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-33-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-34-auto_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-35-auto_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-36-auto_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-37-auto_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-38-auto_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-39-auto_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
/*------------------------------------------------*/


#id_form-0-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-1-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-2-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-3-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-4-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-5-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-6-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-7-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-8-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-9-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-10-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-11-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-12-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-13-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-14-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-15-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-16-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-17-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-18-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-19-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-20-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-21-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-22-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-23-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-24-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-25-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-26-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-27-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-28-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-29-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-30-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-31-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-32-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-33-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-34-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-35-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-36-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-37-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-38-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-39-auto_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}




