.btn-block{
    margin-top: 20px;
    margin-left: 10px;
    width: 20%;
}

#id_form-0-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-1-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-2-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-3-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-4-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-5-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-6-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-7-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-8-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-9-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-10-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-11-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-12-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-13-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-14-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-15-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-16-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-17-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-18-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-19-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-20-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-21-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-22-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-23-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-24-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-25-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-26-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-27-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-28-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-29-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-30-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-31-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-32-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-33-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-34-manual_description {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-35-manual_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-36-manual_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-37-manual_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-38-manual_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-39-manual_description {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
/*------------------------------------------------*/


#id_form-0-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-1-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-2-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-3-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-4-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-5-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-6-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-7-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-8-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-9-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-10-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-11-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-12-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-13-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-14-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-15-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-16-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-17-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-18-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-19-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-20-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-21-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-22-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-23-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-24-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-25-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-26-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-27-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-28-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-29-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-30-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-31-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-32-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-33-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-34-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-35-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-36-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-37-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-38-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

#id_form-39-manual_module_name {
    width: 30%;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}




