{% extends 'SceneTagSite/base.html' %}
{% load static %}
{% load base_tags %}

{% block head %}
{% endblock head %}

{% block nav %}
    {% nav_bar %}
{% endblock nav %}

{% block content %}
    <div id ="playerWrapper" align="center">
    <video class="video-js vjs-default-skin vjs-big-play-centered" id="video_id" controls preload="auto" data-setup="{}">
        <source src="{{ video.localFile.url }}" type="video/mp4">
    </video><br>


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#a">editing operations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#b">Photometric variations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#c">re-encoding</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="a">
            <p>resize, shift, crop, flip</p>
        </div>
        <div class="tab-pane fade" id="b">
            <p>gamma, contrast, brightness</p>
        </div>
        <div class="tab-pane fade" id="c">
            <p>video format, compression</p>
        </div>
    </div>

    </div>

{% endblock content %}
{% block jquery %}
    {#    {% util_get_image %}#}
    {#    <script>#}
    {#        function update_frames(url) {#}
    {#            $('#FrameTable').html('').load(url)#}
    {#        }#}
    {#        update_frames("{% url 'shot_update' video.pk 1 %}");#}
    {#    </script>#}
{% endblock jquery %}