{% extends 'SceneTagSite/base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}

    <div id="playerWrapper" align="center">
        <video class="video-js vjs-default-skin vjs-big-play-centered" id="video_id" controls preload="auto" width="720" height="360" data-setup="{}">
            <source src="{{ video.localFile.url }}" type="video/mp4">
        </video>
    </div><br>

    video : {{ video }} <br>
    program name : {{ video.programName }} <br>
    file : {{ video.localFile.name }} <br>
    url : {{ video.localFile.url }} <br>
    <a href="{% url 'list' 1 %}"> video list </a> <br>
    <a href="{% url 'frame_list' video.pk %}"> frame list </a> <br>

 <div class="col-md-12" align="center" >
        <strong>FPS(Frames Per Second)</strong> of this Video : <strong>{{ fps }}</strong>
        <button id="getCurrentFrame" onclick="getImageURL({{ video.pk }});" class="btn btn-danger"> 다운</button>
    </div><br><br>
{% endblock content %}
{% block jquery %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script>
        function getImageURL(videoPK){
            $.ajax({
                url : '{% url 'extract_current_frame' %}',
                data : {
                    'video_pk' : videoPK,
                },
                success : function (data) {

                }
            });
        }
    </script>

{% endblock jquery %}