{% extends 'SceneTagSite/base.html' %}
{% load static %}
{% load base_tags %}

{% block head %}
{% endblock head %}

{% block nav %}
    {% nav_bar %}
{% endblock nav %}

{%  block content %}
    <div id="playerWrapper" align="center">
        <video class="video-js vjs-default-skin vjs-big-play-centered" id="video_id" controls preload="auto" data-setup="{}">
            <source src="{{ video.localFile.url }}" type="video/mp4">
        </video><br>
    </div>

    <form method="POST" class="post-from">
        {% csrf_token %}
{#        {{ form.as_p }}#}

        <p>
            <label for="id_video">Video</label>
            <select name="video" required id="id_video">
                <option value="{{ video.id }}">{{ video }}</option>
            </select>
        </p>

        <p>
            <label for="id_shot">Shot</label>
            <select name="shot" required id="id_shot">
                <option value="{{ shot.id }}">{{ shot }}</option>
            </select>
        </p>

        <p>
            <label for="id_rotation">Rotation</label>
            <select name="rotation" required id="id_rotation">
                {% for choice in form.rotation.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        </p>

        <p>
            <label for="id_parameter">Parameter</label>
            <input type="number" value="0" name="parameter" required id="id_parameter">
        </p>

        <button type="submit" class="save btn btn-success btn-block">Save</button>
    </form><br>

{% endblock content %}

{% block jquery %}
    {#    {% util_get_image %}#}
    {#    <script>#}
    {#        function update_frames(url) {#}
    {#            $('#FrameTable').html('').load(url)#}
    {#        }#}
    {#        update_frames("{% url 'shot_update' video.pk 1 %}");#}
    {#    </script>#}
{% endblock jquery %}