{% extends 'SceneTagSite/base.html' %}
{% load static %}
{% load base_tags %}

{% block head %}
{% endblock head %}

{% block nav %}
    {% nav_bar %}
{% endblock nav %}

{% block content %}

    <div id="playerWrapper" align="center">
        <video class="video-js vjs-default-skin vjs-big-play-centered" id="video_id" controls preload="auto" width="480" height="240" data-setup="{}">
            <source src="{{ video.localFile.url }}" type="video/mp4">
        </video>
    </div><br>

    video : {{ video }} <br>
    program name : {{ video.programName }} <br>
    file : {{ video.localFile.name }} <br>
    url : {{ video.localFile.url }} <br>
    <a href="{% url 'list' 1 %}"> video list </a> <br>
    <a href="{% url 'frame_list' video.pk %}"> frame_list</a> <br>
 {#    <a href="{% url 'shot_rotation' video.pk shot.pk %}"> copy </a> <br>#}

 <div class="col-md-12" align="center" >
        <strong>FPS(Frames Per Second)</strong> of this Video : <strong>{{ fps }}</strong>
        <a href="{% url 'extract_current_frame' video.pk %}" class="btn-danger"> frame extracting </a>
    </div><br><br>

        <form method="POST" class="post-form">{% csrf_token %}
             {{ form.as_p }}
            <button type="submit" class="save btn btn-success btn-block">Save</button>
        </form><br>


    <div id="ShotTable">

    </div>

{% endblock content %}

{% block jquery %}
    {% util_get_image %}
    <script>
        function update_shot(url) {
            $('#ShotTable').html('').load(url)
        }
        update_shot("{% url 'shot_update' video.pk 1 %}");
    </script>
{% endblock jquery %}
