<h3>
    Shots (
    {% if cur_shotpage != '1' %}
        <a href="javascript:update_shot('{% url 'shot_update' video.pk cur_shotpage|add:-1 %}')" class="btn btn-sm btn-outline-secondary" role="button">Prev</a>
    {% else %}
        <a href="" class="btn btn-sm btn-outline-secondary disabled" role="button">Prev</a>
    {% endif %}
    {{ cur_shotpage }}/{{ max_shotpage }}
    {%  if cur_shotpage|add:0 != max_shotpage|add:0 %}
        <a href="javascript:update_shot('{% url 'shot_update' video.pk cur_shotpage|add:-1 %}')" class="btn btn-sm btn-outline-secondary" role="button">Next</a>
    {% else %}
        <a href="" class="btn btn-sm btn-outline-secondary disabled" role="button">Next</a>
    {% endif %}
    )
</h3>
<table id="shotWrapper" class="table table-striped">
    <thead id="table-header" align="center">
    <th class="row">
        <div class="col-md-2" align="center">Start</div>
        <div class="col-md-2" align="center">End</div>
        <div class="col-md-4" align="center">Information</div>
        <div class="col-md-2" align="center">Transformation</div>
        <div class="col-md-2" align="center">Rewind</div>
    </th>
    </thead>
</table>
<hr>

{% for shot in shots %}
    <div class="row" id="row{{ shot.pk }}" align="center">
     <div class="col-md-2">
            <img class="img-thumbnail" id="pTagStart{{ shot.pk }}" src="...">
        </div>
        <div class="col-md-2">
            <img class="img-thumbnail" id="pTagEnd{{ shot.pk }}" src="...">
        </div>
        <div class="col-md-4">
            <strong>{{ shot.startTimestamp }} [{{ shot.startFrame }}] <br> {{ shot.endTimestamp }} [{{ shot.endFrame }}]</strong>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
    </div>
{% endfor %}

<script>
    {% for shot in shots %}
        getImageURL("#pTagStart{{ shot.pk }}", {{ video.pk }},{{ shot.startFrame }})
        getImageURL("#pTagEnd{{ shot.pk }}", {{ video.pk }},{{ shot.endFrame }})
    {% endfor %}
</script>
