<h3><strong> Frame List </strong>
    (
    {% if cur_framepage != '1' %}
        <a href="javascript:update_frames('{% url 'frame_update' video.pk cur_framepage|add:-1 %}')" class="btn btn-sm btn-outline-secondary" role="button">Prev</a>
    {% else %}
        <a href="" class="btn btn-sm btn-outline-secondary disabled" role="button">Prev</a>
    {% endif %}
    {{ cur_framepage }}/{{ max_framepage }}
    {% if cur_framepage|add:0 != max_framepage|add:0 %}
        <a href="javascript:update_frames('{% url 'frame_update' video.pk cur_framepage|add:1 %}')" class="btn btn-sm btn-outline-secondary" role="button">Next</a>
    {% else %}
        <a href="" class="btn btn-sm btn-outline-secondary disabled" role="button">Next</a>
    {% endif %}
    )
</h3>
<table id="shotWrapper" class="table table-striped">
    <thead id="table-header" align="center">
    <th class="row">
        <div class="col-md-3" align="center">Frame</div>
        <div class="col-md-3" align="center">Current Time Stamp</div>
        <div class="col-md-2" align="center">Current Frame</div>
        <div class="col-md-4" align="center">Tagging</div>
    </th>
    </thead>

</table>
<hr>

{% for frame in  frames %}
    <div class="row" id={{ frame.pk }} align="center">
        <div  class="col-md-3">
            <img class="img-thumbnail" id="pTagCurrent{{ frame.pk }}" src="...">
        </div >
        <div  class="col-md-3">
            {{ frame.currentTimeStamp }}
        </div >
        <div  class="col-md-2">
            frame_{{ frame.currentFrame }}
        </div >
        <div  class="col-md-4">
            <button class="btn btn-outline-info btn_group"><a href="{% url 'object_tagging' video.pk frame.pk %}">수동</a></button>
            <button class="btn btn-outline-info btn_group"><a href="{% url 'auto_object_tagging' video.pk frame.pk %}">자동</a></button>
        </div >
    </div >
{% endfor %}



    <script>
        {% for frame in frames %}
            getImageURL("#pTagCurrent{{ frame.pk }}", {{ video.pk }}, {{ frame.currentFrame }});
        {% endfor %}
    </script>
