{% extends 'SceneTagSite/base.html' %}
{% load static %}
{% load base_tags %}

{% block head %}
{% endblock head %}

{% block nav %}
    {% nav_bar %}
{% endblock nav %}

{% block content %}
    <div class="container">
        <h3>Registered Video List</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>video 이름</th>
                <th>tagging</th>
                <th>등록 시간</th>
                <th>수정 시간</th>
            </tr>
            </thead>
            <tbody>
            {% for video in videos %}
                <tr >
                    <td align="center">{{ video.pk }}</td>
                    <td>{{ video.programName }} </td>
                    <td><a href="{% url 'frame_list' video.pk %}" class="btn btn-success">frame tagging</a> <a href="{% url 'interval_video_list' video.pk %}" class="btn btn-success">video tagging</a>  </td>
                    <td>{{ video.registerDateTime }}</td>
                    <td>{{ video.lastSavedDateTime }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="alert alert-primary" role="alert">
            <div class="col-md-12" align="center">
                업로드 폴더에 {{ unreg_cnt }}개의 등록하지 않은 동영상이 있습니다. 등록하시겠습니까?
                <a href="{% url 'refresh_list' %}" class="btn btn-primary text-right"> GO </a> <br>
            </div>
        </div>
    </div>

{% endblock content %}